{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="intro">
			<h4 class="display-3">keeping writing <span class="text-secondary">simple</span></h4>
			<p>Keep your writing instruction simple.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4 gy-4">
			<img class="thumbnail img-fluid" src="{% static 'images/Commas in Compound Sentences Practice Digital & Google Forms option.png' %}">
			<div class="box-element product">
				<h6><strong>Commas in Compund Sentences Exit Tickets • Google Forms & PRINT </strong></h6>
				<hr>

				<a href='https://www.fatfreecartpro.com/ecom/gb.php?&c=cart&ejc=2&cl=386491&i=1738513' onclick='return EJEJC_lc(this);' style='display:inline-block;background: #7b219f url(https://www.e-junkie.com/ej/images/newaddtocart.png) center/90px no-repeat;border: none;padding: 7px 50px;border-radius: 3px;box-shadow: 1px 2px 2px rgba(0,0,0,0.2);text-decoration: none;' target='ej_ejc' class='ec_ejc_thkbx'>&nbsp;</a>
				
				<a href='https://www.fatfreecartpro.com/i/119g1?card' style='display:inline-block;background: #7b219f url(https://www.e-junkie.com/ej/images/newviewproduct.png) center/100px no-repeat;border: none;padding: 7px 50px;border-radius: 3px;box-shadow: 1px 2px 2px rgba(0,0,0,0.2);text-decoration: none;'>&nbsp;</a>
				
				
				
				<h5 style="float:right"><strong>$5.00</strong></h5>

			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 gy-4">
			<img class="thumbnail img-fluid" src="{% static '/images/Sentence or Fragment Task Cards & Assessment w Google Forms option.png' %}">
			<div class="box-element product">
				<h6><strong>Sentence or Fragment Task Cards & Assessment w Google Forms option</strong></h6>
				<hr>

				<a href='https://www.fatfreecartpro.com/ecom/gb.php?&c=cart&ejc=2&cl=386491&i=1738514' onclick='return EJEJC_lc(this);' style='display:inline-block;background: #7b219f url(https://www.e-junkie.com/ej/images/newaddtocart.png) center/90px no-repeat;border: none;padding: 7px 50px;border-radius: 3px;box-shadow: 1px 2px 2px rgba(0,0,0,0.2);text-decoration: none;' target='ej_ejc' class='ec_ejc_thkbx'>&nbsp;</a>
				
				<a href='https://www.fatfreecartpro.com/i/119g2?card' style='display:inline-block;background: #7b219f url(https://www.e-junkie.com/ej/images/newviewproduct.png) center/100px no-repeat;border: none;padding: 7px 50px;border-radius: 3px;box-shadow: 1px 2px 2px rgba(0,0,0,0.2);text-decoration: none;'>&nbsp;</a>
				
				
				
				<h5 style="float:right"><strong>$5.00</strong></h5>

			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 gy-4">
			<img class="thumbnail img-fluid" src="{% static 'images/7 Key Editing Skills Spiral Review for Google Forms.png'%}">
			<div class="box-element product">
				<h6><strong>7 Key Editing Skills Spiral Review for Google Forms</strong></h6>
				<hr>

				<a href='https://www.fatfreecartpro.com/ecom/gb.php?&c=cart&ejc=2&cl=386491&i=1738516' onclick='return EJEJC_lc(this);' style='display:inline-block;background: #7b219f url(https://www.e-junkie.com/ej/images/newaddtocart.png) center/90px no-repeat;border: none;padding: 7px 50px;border-radius: 3px;box-shadow: 1px 2px 2px rgba(0,0,0,0.2);text-decoration: none;' target='ej_ejc' class='ec_ejc_thkbx'>&nbsp;</a>
				
				<a href='https://www.fatfreecartpro.com/i/119g4?card' style='display:inline-block;background: #7b219f url(https://www.e-junkie.com/ej/images/newviewproduct.png) center/100px no-repeat;border: none;padding: 7px 50px;border-radius: 3px;box-shadow: 1px 2px 2px rgba(0,0,0,0.2);text-decoration: none;'>&nbsp;</a>
				
				
				
				<h5 style="float:right"><strong>$5.00</strong></h5>

			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4 gy-4">
			<img class="thumbnail img-fluid" src="{% static 'images/Distance Learning_ Homophones Two, Too, To FREEBIE.png'%}">
			<div class="box-element product">
				<h6><strong>Homophones • Two, too, to</strong></h6>
				<hr>

				<a href='https://www.fatfreecartpro.com/ecom/gb.php?&c=cart&ejc=2&cl=386491&i=1738518' onclick='return EJEJC_lc(this);' style='display:inline-block;background: #7b219f url(https://www.e-junkie.com/ej/images/newaddtocart.png) center/90px no-repeat;border: none;padding: 7px 50px;border-radius: 3px;box-shadow: 1px 2px 2px rgba(0,0,0,0.2);text-decoration: none;' target='ej_ejc' class='ec_ejc_thkbx'>&nbsp;</a>
				
				<a href='https://www.fatfreecartpro.com/i/119g6?card' style='display:inline-block;background: #7b219f url(https://www.e-junkie.com/ej/images/newviewproduct.png) center/100px no-repeat;border: none;padding: 7px 50px;border-radius: 3px;box-shadow: 1px 2px 2px rgba(0,0,0,0.2);text-decoration: none;'>&nbsp;</a>
				
				
				
				<h5 style="float:right"><strong>FREE</strong></h5>

			</div>
		</div>
		
		{% comment %} {% for product in products %}

		<div class="col-sm-12 col-md-6 col-lg-4 gy-4">
			<img class="thumbnail img-fluid" src="{{product.image.url}}">
			<div class="box-element product">
				<h6><strong>{{product.name}}</strong></h6>
				<hr>

				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">View</button>
				
				
				
				<h5 style="float:right"><strong>${{product.price|floatformat:2}}</strong></h5>

			</div>
		</div>
		{% endfor %} {% endcomment %}
	</div>
	<!-- Footer -->
    <footer class="p-5 row text-align-center text-secondary text-center position-relative">
      <div class="container-fluid">
        <p class="lead col-6">Copyright &copy; 2022 keeping writing simple</p>

        <a href="#" class="col-6 position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>
{% endblock content %}


